@import "./_variables.scss";

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.15);
}

@mixin color-gradient {
    background: linear-gradient(0deg, $main-color 0%, $secondary-color 100%);
}

@mixin box-radius {
    border-radius: 30px;
}

@mixin padding-section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

@mixin text-form {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: $background-dark-grey;
}