//Couleurs principales
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

//Couleurs utilitaires
$fond-alerte-sombre: #003A68;
$fond-alerte-light: #89c8fa;
$txt-green: #008766;
$icon-color: #7e7e7e;

//Couleurs de fond
$background-white: white;
$background-light-grey: #f6f6f6;
$background-dark-grey: #353535;
$background-location: #eaeaea;

