//Couleurs utilitaires
$fond-vert-pastel: #99E2D0;
$fond-violet: #9356DC;
$fond-alerte-sombre: #003A68;
$fond-alerte-light: #89c8fa;

//Couleurs textes
$txt-fond-clair: black;
$txt-fond-sombre: white;
$txt-green: #008766;

//Couleurs de fond
$background-white: white;
$background-light-grey: #EAEAEA;
$background-dark-grey: #353535;

//Couleurs dégradé bouton
$bouton-violet: #9356DC;
$bouton-rose: #FF79DA;

