@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import "./_variables.scss";
@import "./_mixins.scss";

//Mobile First
//Général

body {
    font-family: "Roboto", sans-serif;
    @include flex-center;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

h1 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 0.313rem;
    margin-top: 0.938rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1.313rem;
    margin: 0;
}

.btn-main {
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 18.75px;
    color: white;
    padding: 17px 25px;
    margin: 1rem 1.5rem;
    @include color-gradient;
    @include box-shadow;
}

.btn-fav {
    font-size: 20px;
    padding-left: 5px;
    input[type="checkbox"], i.fa-solid.fa-heart.full {
        display: none;
    }
    input[type="checkbox"]:checked~.full {
        display: inline-block;
        @include color-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    input[type="checkbox"]:checked~.nofull {
        display: none;
    }
}

//header
header {
    @include flex-center;
    .title-main {
        position: relative;
        z-index: 1;
        width: 100%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    }

    form {
        background-color: $background-location;
        width: 100%;
        height: 50px;
        @include flex-align;
        justify-content: center;
        gap: 15px;
        filter: drop-shadow( 0px 4px 2px rgba(0,0,0,0.25));
        input {
            background-color: $background-location;
            border: none;
            text-align: justify;
            width: 150px;
            height: 40px;
            &::placeholder {
                @include text-form;
                
            }
            &:focus {
                outline: none;
                @include text-form;
            }
        }
    }
}

//hero-acceuil
.hero-acceuil {
    padding: 1rem 1.875rem 1.5rem;
    text-align: center;
    background-color: $background-light-grey;
    @include flex-center;
    h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    p {
        font-weight: 300;
        font-size: 1.125rem;
    }
}


//Fonctionnement
.fonctionnement {
    @include padding-section;
    .box-fonctionnement {
        padding: 1.688rem 0rem 1.25rem 1.25rem;
        @include flex-center;
        gap: 1.5rem;
        .card-fonctionnement {
            width: 322.49px;
            height: 72.38px;
            background-color: $background-light-grey;
            border-radius: 20px;
            gap: 30px;
            justify-content: flex-start;
            @include flex-align;
            @include box-shadow;
            p {
                width: 24px;
                height: 24px;
                position: relative;
                left: -12px;
                border-radius: 50%;
                font-size: 14px;
                line-height: 1.65em;
                text-align: center;
                background-color: $main-color;
                color: white;
            }
            i {
                height: 1.25rem;
                color: $icon-color;
    
            }
            h4 {
                font-weight: 500;
            }
        }
    }
}

//Restaurants
.restaurants {
    background-color: $background-light-grey;
    @include padding-section;
    .box-restaurants {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        box-sizing: border-box;
        .card-restaurant {
            background-color: white;
            border-radius: 15px 15px 15px 15px;
            img {
                width: 100%;
                height: 174px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .info-restaurant {
                display: flex;
                padding: 15px 0px 0px 10px;
                margin: 0px;
                .info-text-restaurant {
                    width: 87%;
                    h4 {
                        font-weight: 700;
                        margin-bottom: 7px;
                        margin-top: 0px;
                    }
                    p {
                        font-weight: 300;
                        margin-top: 0;
                    }
                }
            }
        }    
    }
}

//footer
footer {
    background-color: $background-dark-grey;
    color: white;
    padding: 1.563rem;
    h5 {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0.938rem;
    }
    .box-footer {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .part {
            display: flex;
            flex-direction: column;
        }
        
    }
}

//Pages Resto
//header
.btn-back {
    position: absolute;
    left: 30px;
    top: 25px;
    font-weight: bold;
    font-size: 20px;
}

//heros
.heros{
    img {
        position: relative;
        z-index: -1;
        object-fit: cover;
        height: 275px;
        width: 100%;
        @media (min-width: 768px) {
            height: 383px;
        }
    }
}

//menu
.menu {
    position: relative;
    z-index: 0;
    top: -50px;
    background-size: cover;
    .background-menu {
        background-color: $background-light-grey;
        background-size: cover;
        border-radius: 40px 40px 0 0;
        .box-resto-title {
            padding-top: 30px;
            padding-left: 15px;
            display: inline-flex;
            justify-content:center;
            gap: 40px;
            .resto-title {
                font-family: "Shrikhand", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 28px;
                margin: 0;
            }
            .btn-fav {
                font-size: 28px;
            }
        }
    }
}