@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
@import "./_variables.scss";
@import "./_mixins.scss";

//Mobile First
//Général

body {
    font-family: "Roboto", sans-serif;
    @include flex-center;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

h1 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1.313rem;
}

.btn-main {
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 18.75px;
    color: white;
    padding: 17px 25px;
    margin: 1rem 1.5rem;
    @include color-gradient;
    @include box-shadow;
}



//header
header {
    @include flex-center;
    form {
        font-size: 1rem;
        font-weight: 500;
        background-color: $background-location;
        width: 100%;
        height: 50px;
        @include flex-align;
        justify-content: center;
        color: $background-dark-grey;
        input {
            background-color: $background-location;
            border: none;
            text-align: center;
            justify-content: center;
        }
    }
}

//hero-acceuil
.hero-acceuil {
    padding: 1rem 1.875rem 1.5rem;
    text-align: center;
    background-color: $background-light-grey;
    @include flex-center;
    h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    p {
        font-weight: 300;
        font-size: 1.125rem;
    }
}


//Fonctionnement
.fonctionnement {
    padding: 2.188rem 0rem 2.188rem;
}
.box-fonctionnement {
    padding: 2.188rem 0rem 2.188rem 1.25rem;
    @include flex-center;
    gap: 1.5rem;
    .card-fonctionnement {
        width: 322.49px;
        height: 72.38px;
        background-color: $background-light-grey;
        border-radius: 20px;
        gap: 30px;
        justify-content: flex-start;
        @include flex-align;
        @include box-shadow;
        p {
            width: 24px;
            height: 24px;
            position: relative;
            left: -12px;
            border-radius: 50%;
            font-size: 0.886rem;
            line-height: 1.65em;
            text-align: center;
            background-color: $main-color;
            color: white;
        }
        i {
            height: 1.25rem;
            color: $icon-color;

        }
        h4 {
            font-weight: 500;
        }
    }
}

//Restaurants
.restaurants {
    background-color: $background-light-grey;
    padding-top: 1.25rem;
    .box-restaurants {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        box-sizing: border-box;
        .card-restaurant {
            background-color: white;
            border-radius: 15px 15px 15px 15px;
            img {
                width: 490px;
                height: 174px;
                max-width: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .info-restaurant {
                padding-left: 10px;
                margin: 0px;
                h4 {
                    font-weight: 700;
                    margin-top: 10px;
                    margin-bottom: 7px;
                }
                p {
                    font-weight: 300;
                    margin-top: 0;
                }
            }
        }    
    }
}
