@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
body .loader-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}
body .loader-container .let {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  animation: loader infinite 0.3s alternate;
}
body .loader-container .l1 {
  animation-delay: 0.05s;
}
body .loader-container .l2 {
  animation-delay: 0.1s;
}
body .loader-container .l3 {
  animation-delay: 0.15s;
}
body .loader-container .l4 {
  animation-delay: 0.2s;
}
body .loader-container .l5 {
  animation-delay: 0.25s;
}
body .loader-container .l6 {
  animation-delay: 0.3s;
}
body .loader-container .l7 {
  animation-delay: 0.35s;
}
body .loader-container .l8 {
  animation-delay: 0.4s;
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
}

.main-page {
  width: 100%;
}

h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.313rem;
  margin-top: 0.938rem;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  padding-left: 1.313rem;
  margin: 0;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 17px 25px;
  margin: 1rem 1.5rem;
}
button:required input {
  background-color: #89c8fa;
  border: 2px solid #003A68;
}

.btn-main {
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18.75px;
  color: white;
  padding: 17px 25px;
  margin: 1rem 1.5rem;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.27);
  transition: all 0.3s;
}
.btn-main:hover {
  box-shadow: 0px 7px 12px -2px rgba(0, 0, 0, 0.35), 0px 0px 50px 30px rgba(255, 255, 255, 0.25) inset;
  transition-timing-function: cubic-bezier(0.63, -0.02, 0.35, 0.99);
}
.btn-main:required input {
  background-color: #89c8fa;
  border: 2px solid #003A68;
}

.btn-fav {
  font-size: 20px;
  padding-left: 5px;
}
.btn-fav input[type=checkbox], .btn-fav i.fa-solid.fa-heart.full {
  display: none;
  transform: scaleY(1);
}
.btn-fav input[type=checkbox]:checked ~ .full {
  display: inline-block;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-fav input[type=checkbox]:checked ~ .full:active {
  transform-origin: 50% bottom;
  transform: scaleY(1);
  transition: transform 1000ms ease-in-out;
}
.btn-fav input[type=checkbox]:checked ~ .nofull {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .title-main {
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
header form {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
header form input {
  background-color: #eaeaea;
  border: none;
  text-align: end;
  width: 130px;
  height: 40px;
}
header form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #353535;
  font-weight: 500;
}
header form input:focus {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #353535;
  font-weight: 500;
}

.hero-acceuil {
  padding: 1.2rem 1.875rem 2.5rem;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero-acceuil {
    padding-bottom: 20px;
  }
}
.hero-acceuil h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .hero-acceuil h2 {
    font-size: 40px;
    margin-top: 20px;
  }
}
.hero-acceuil p {
  font-weight: 300;
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .hero-acceuil p {
    margin-top: 0px;
  }
}

.fonctionnement {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.fonctionnement .background-fontionnement {
  width: 100%;
  max-width: 1080px;
}
.fonctionnement .background-fontionnement .box-fonctionnement {
  padding: 1.688rem 0.938rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.fonctionnement .background-fontionnement .box-fonctionnement .card-fonctionnement {
  width: 322.49px;
  height: 72.38px;
  background-color: #f6f6f6;
  border-radius: 20px;
  gap: 25px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.3);
}
.fonctionnement .background-fontionnement .box-fonctionnement .card-fonctionnement p {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1.65em;
  text-align: center;
  background-color: #9356dc;
  color: white;
  position: relative;
  left: -12px;
}
.fonctionnement .background-fontionnement .box-fonctionnement .card-fonctionnement i {
  width: 18px;
  top: -3px;
  font-size: 18px;
  color: #7e7e7e;
  position: relative;
  left: -12px;
}
.fonctionnement .background-fontionnement .box-fonctionnement .card-fonctionnement h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  position: relative;
  left: -12px;
}
@media (min-width: 768px) {
  .fonctionnement .background-fontionnement .box-fonctionnement {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .restaurants {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: initial;
  }
}
.restaurants .background-restaurants {
  width: 100%;
  max-width: 1080px;
}
.restaurants .background-restaurants .box-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 1.688rem 1.5rem 0rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 1080px;
}
@media (min-width: 768px) {
  .restaurants .background-restaurants .box-restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    row-gap: 35px;
  }
}
@media (min-width: 1024px) {
  .restaurants .background-restaurants .box-restaurants {
    gap: 100px;
    row-gap: 50px;
  }
}
.restaurants .background-restaurants .box-restaurants a {
  width: 100%;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant {
  position: relative;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .restaurants .background-restaurants .box-restaurants a .card-restaurant {
    max-width: 490px;
  }
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant .new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0.45rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant .info-restaurant {
  display: flex;
  padding: 15px 0px 0px 10px;
  margin: 0px;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant .info-restaurant .info-text-restaurant {
  width: 87%;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant .info-restaurant .info-text-restaurant h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  margin-bottom: 6px;
  margin-top: 0px;
}
.restaurants .background-restaurants .box-restaurants a .card-restaurant .info-restaurant .info-text-restaurant p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 19.92px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1.563rem;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 25px;
    padding-top: 60px;
  }
}
@media (min-width: 1024px) {
  footer {
    gap: 100px;
  }
}
footer h5 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.938rem;
}
@media (min-width: 768px) {
  footer h5 {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  footer h5 {
    padding-right: 50px;
  }
}
footer .box-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  footer .box-footer {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
@media (min-width: 1024px) {
  footer .box-footer {
    gap: 50px;
  }
}
footer .box-footer .part {
  display: flex;
  flex-direction: column;
}
footer .box-footer .list-box-footer-1 {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  footer .box-footer .list-box-footer-1 {
    flex-direction: row;
    gap: 12px;
  }
}
footer .box-footer .list-box-footer-2 {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  footer .box-footer .list-box-footer-2 {
    flex-direction: row;
    gap: 12px;
  }
}

.btn-back {
  position: absolute;
  left: 30px;
  top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.heros img {
  position: relative;
  z-index: -1;
  object-fit: cover;
  height: 275px;
  width: 100%;
}
@media (min-width: 768px) {
  .heros img {
    height: 383px;
  }
}

.menu {
  position: relative;
  z-index: 0;
  top: -50px;
  display: flex;
  justify-content: center;
}
.menu .background-menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 1055px;
}
.menu .background-menu .box-resto-title {
  padding-top: 30px;
  display: inline-flex;
  gap: 60px;
}
.menu .background-menu .box-resto-title .resto-title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin: 0;
}
.menu .background-menu .box-resto-title .btn-fav {
  position: relative;
  left: -20px;
  font-size: 28px;
  padding-left: 0px;
}
.menu .background-menu .box-plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 94%;
  width: 634px;
  padding-left: 13px;
  padding-right: 13px;
}
.menu .background-menu .box-plat .box-menu {
  max-width: 100%;
  width: 634px;
  margin-top: 35px;
}
.menu .background-menu .box-plat .box-menu .plat-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  margin-bottom: -7px;
  margin-top: 0px;
}
.menu .background-menu .box-plat .box-menu .line-title {
  display: inline-block;
  width: 40px;
  height: 0px;
  border-bottom: 3px solid #99e2d0;
}
.menu .background-menu .box-plat .box-menu .card-menu {
  background-color: white;
  height: 74px;
  border-radius: 15px;
  margin-top: 13px;
  display: flex;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.menu .background-menu .box-plat .box-menu .card-menu .check {
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  padding: 27px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-right: -70px;
  transition: all 0.3s ease-in-out;
}
.menu .background-menu .box-plat .box-menu .card-menu input[type=checkbox] {
  display: none;
}
.menu .background-menu .box-plat .box-menu .card-menu input[type=checkbox]:checked ~ .check {
  margin: 0px;
  transition: all 0.3s ease-in-out;
}
.menu .background-menu .box-plat .box-menu .card-menu .info-menu {
  width: 87%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "…" "…";
}
.menu .background-menu .box-plat .box-menu .card-menu .info-menu h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  margin-bottom: 6px;
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 15px;
}
.menu .background-menu .box-plat .box-menu .card-menu .info-menu p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 17.63px;
  padding-left: 15px;
}
.menu .background-menu .box-plat .box-menu .card-menu .prix-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #353535;
  font-weight: 700;
}
@keyframes fly-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu .background-menu a {
  display: flex;
  justify-content: center;
  width: 140px;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.main-page footer {
  margin-top: -50px;
}

/*# sourceMappingURL=style.css.map */
