@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
}

h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 0.313rem;
  margin-top: 0.938rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1.313rem;
  margin: 0;
}

.btn-main {
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18.75px;
  color: white;
  padding: 17px 25px;
  margin: 1rem 1.5rem;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.15);
}

.btn-fav {
  font-size: 20px;
}
.btn-fav input[type=checkbox], .btn-fav i.fa-solid.fa-heart.full {
  display: none;
}
.btn-fav input[type=checkbox]:checked ~ .full {
  display: inline-block;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-fav input[type=checkbox]:checked ~ .nofull {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .title-main {
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
header form {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
header form input {
  background-color: #eaeaea;
  border: none;
  text-align: justify;
  width: 150px;
  height: 40px;
}
header form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #353535;
}
header form input:focus {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #353535;
}

.hero-acceuil {
  padding: 1rem 1.875rem 1.5rem;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-acceuil h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.hero-acceuil p {
  font-weight: 300;
  font-size: 1.125rem;
}

.fonctionnement {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.fonctionnement .box-fonctionnement {
  padding: 1.688rem 0rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.fonctionnement .box-fonctionnement .card-fonctionnement {
  width: 322.49px;
  height: 72.38px;
  background-color: #f6f6f6;
  border-radius: 20px;
  gap: 30px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.15);
}
.fonctionnement .box-fonctionnement .card-fonctionnement p {
  width: 24px;
  height: 24px;
  position: relative;
  left: -12px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1.65em;
  text-align: center;
  background-color: #9356dc;
  color: white;
}
.fonctionnement .box-fonctionnement .card-fonctionnement i {
  height: 1.25rem;
  color: #7e7e7e;
}
.fonctionnement .box-fonctionnement .card-fonctionnement h4 {
  font-weight: 500;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.restaurants .box-restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.restaurants .box-restaurants .card-restaurant {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}
.restaurants .box-restaurants .card-restaurant img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .box-restaurants .card-restaurant .info-restaurant {
  display: flex;
  padding: 15px 0px 0px 10px;
  margin: 0px;
}
.restaurants .box-restaurants .card-restaurant .info-restaurant .info-text-restaurant {
  width: 87%;
}
.restaurants .box-restaurants .card-restaurant .info-restaurant .info-text-restaurant h4 {
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 0px;
}
.restaurants .box-restaurants .card-restaurant .info-restaurant .info-text-restaurant p {
  font-weight: 300;
  margin-top: 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1.563rem;
}
footer h5 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.938rem;
}
footer .box-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .box-footer .part {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
